<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="/js/main.js"></script>
</head>

<body>

  <h1>Webapp Workshop Vocab Cheat Sheet</h1>
  <h3>The terminal</h3>h3>
  <p>A text-based interface to your computer-lets you interact without a visual interface</p>
  <h3>Client</h3>
  <p>How your computer interacts with the internet</p>
  <h3>Node.js</h3>
  <p>A framwork that allows you to run javascript on servers before it sends files to the client</p>

  <p id="demo">
  </p>

  <button type="button" onclick="myFunction()">
    DON'T CLICK
  </button>

</body>

</html>